body {
    /* padding: 10px; */
    background-color: #7fd3baf6;
    text-decoration: none;
    list-style-type: none;
  }

.post {
  margin-top: 20px;
  background-color: #ffffff;
}

h1 {
  font-size: xx-large;
  color: rgb(24, 24, 24);
  padding: 20px;
  padding-bottom: 5px;
}

h2 {
  font-size: medium;
  font-weight: normal;
  color: rgb(24, 24, 24);
  padding: 20px;
  padding-top: 5px;
}

img {
  max-width: 100%;
  height: inherit;
}

.polaroid {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
  margin: 20px;
  background-color: #ffffff;
}

.grid img {
  width: 100%;
  height: auto;
  padding: 50px;
}

/* PHOTO GRID */
.col-md-12 {
  background-color: #ffffff;
  margin-top: 20px;
  width: 100%;
}

.col-md-6 {
  background-color: #ffffff;
  margin: 0px;
  width: 100%;
}

/* DATA TABLE */
.dataframe {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.dataframe, th, td {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

/* SMALL SCREEN */
@media (max-width: 600px) {
  .polaroid {
    box-shadow: none;
  }

  /* DATA TABLE */
  td { 
    overflow: hidden; 
    white-space:nowrap;
    text-overflow:ellipsis; 
    word-wrap: break-word;
  }
}